# JetBrains IDE folders (.idea) in all directories
.idea/
**/.idea/

# Python cache folders (__pycache__) in all directories
__pycache__/
**/__pycache__/

# Python compiled files
*.pyc
*.pyo
*.pyd
datasets/mvtec
datasets/VisA
checkpoints.DS_Store
checkpoints
.DS_Store
hist_results
tsne_results
umap_results